<footer>
  <!-- Legal page -->
  <a class="link" href="{{ path('app_legal') }}">Mentions légales</a>
  
  <!-- Confidentiality page -->
  <a class="link" href="{{ path('app_confidentiality') }}">Politique de confidentialité</a><!-- Contact section -->
</footer>