{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title %}
    Les recettes de Sandrine Coupart, diététicienne et nutritionniste - Page admin
{% endblock %}
{% block content_title %}Tableau de bord{% endblock %}
{% block main %}
  <h2>Bienvenue Sandrine</h2>
  <a class="link" href="{{ path('app_home') }}">Retour sur le site</a>
{% endblock %}