{% extends 'base.html.twig' %}

{% block title %}
    Les recettes de Sandrine Coupart, diététicienne et nutritionniste - Page de confidentialité
{% endblock %}

{% block body %}

<article class='confidentiality_article'>
    <h2 class='article_title'>Confidentialité</h2>
    <div class='confidentiality_div'>

      <section class='confidentiality_section'>
        <h3>Site fictif</h3>
        <div class='confidentiality_part'>
          <h4>But du site</h4>
          <p>Ce site est à visée pédagogique uniquement. 
          Il s'agit d'un TP de réalisation de site internet.</p>
        </div>
      </section>

      <section class='confidentiality_section'>
        <h3>Informations</h3>
        <div class='confidentiality_part'>
          <h4>Responsable du traitement de données</h4>
          <p>Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé
           par Sandrine Coupart (sandrine.coupart@poudlard.com) pour adapter au mieux les recettes et pour
            pouvoir vous contacter. La base légale du traitement est le consentement.</p>
        </div>
        <div class='confidentiality_part'>
          <h4>Communication des données</h3>
          <p>Les données collectées seront communiquées au seul destinataire suivant : Sandrine Coupart
           (sandrine.coupart@poudlard.com).</p>
        </div>
        <div class='confidentiality_part'>
          <h4>Durée de conservation des données</h3>
          <p>Les données sont conservées pendant 1 an.</p>
        </div>
        <div class='confidentiality_part'>
          <h4>Accès à vos données</h3>
          <p>Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou
           exercer votre droit à la limitation du traitement de vos données. 
           Vous pouvez retirer à tout moment votre consentement au traitement de vos données.</p>
        </div>
        <div class='confidentiality_part'>
          <h4>Droits de réclamation auprès de la CNIL</h3>
          <p>Consultez le site cnil.fr pour plus d’informations sur vos droits.</p>
        </div>
        <div class='confidentiality_part'>
          <h4>Délai de conservation des données</h3>
          <p>Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, 
          vous pouvez contacter Sandrine Coupart (sandrine.coupart@poudlard.com) </p>
        </div>
        <div class='confidentiality_part'>
          <h4>Vos droits Informatiques et Libertés</h3>
          <p>Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont 
          pas respectés, vous pouvez adresser une réclamation à la CNIL.</p>
        </div>
      </section>
</article>      
  
{% endblock %}